Repository CoreMedia/ckeditor-plugins, pull requests merged in 2023-05, with the labels that each got.

#148 Content-Link: Fixes Mixed Keyboard/Mouse Access to Opening Content Links (Rewrite for CKE5 37.x)
  app/src/inputExampleContents.ts
  packages/ckeditor5-coremedia-content/package.json
  packages/ckeditor5-coremedia-content/src/OpenInTab.ts
  packages/ckeditor5-coremedia-content/src/commands/OpenInTabCommand.ts
  packages/ckeditor5-coremedia-content/src/index-doc.ts
  packages/ckeditor5-coremedia-content/src/index.ts
  packages/ckeditor5-coremedia-images/src/ContentImageEditingPlugin.ts
  packages/ckeditor5-coremedia-images/src/augmentation.ts
  packages/ckeditor5-coremedia-images/src/contentImageOpenInTab/ContentImageOpenInTabUI.ts
  packages/ckeditor5-coremedia-images/src/contentImageOpenInTab/OpenImageInTabCommand.ts
  packages/ckeditor5-coremedia-images/src/contentImageOpenInTab/index-doc.ts
  packages/ckeditor5-coremedia-images/src/index.ts
  packages/ckeditor5-coremedia-link/src/augmentation.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ContentLinks.ts
  packages/ckeditor5-coremedia-link/src/contentlink/OpenContentInTabCommand.ts
  packages/ckeditor5-coremedia-link/src/contentlink/index-doc.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkActionsViewExtension.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkViewFactory.ts
  packages/ckeditor5-coremedia-link/src/index.ts
  packages/ckeditor5-coremedia-studio-integration-mock/src/content/MockWorkAreaService.ts
  packages/ckeditor5-coremedia-studio-integration-mock/src/content/PredefinedMockContents.ts
  packages/ckeditor5-coremedia-studio-integration/src/content/studioservices/WorkAreaService.ts
  pnpm-lock.yaml
Labels: type:bug, feature:link, feature:image, release:patch

#150 feat(github): Automated Release Notes
  .github/release.yml
Labels: ignore-for-release

#152 fix(open-in-tab): Require strings to be a content uri.
  packages/ckeditor5-coremedia-images/src/contentImageOpenInTab/OpenImageInTabCommand.ts
  packages/ckeditor5-coremedia-link/src/contentlink/OpenContentInTabCommand.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkActionsViewExtension.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkViewFactory.ts
  packages/ckeditor5-coremedia-studio-integration/src/index.ts
Labels: type:bug, feature:link, release:patch

#151 fix(link): Augmentation in CommandsMap wrong for OpenContentInTab
  packages/ckeditor5-coremedia-link/src/augmentation.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ContentLinks.ts
  packages/ckeditor5-coremedia-link/src/contentlink/OpenContentInTabCommand.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkActionsViewExtension.ts
  packages/ckeditor5-coremedia-link/src/contentlink/ui/ContentLinkViewFactory.ts
Labels: type:bug, feature:link, release:patch
